<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='About.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>Haqqımızda</title>
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-black">
        <div class="container">
            <a href="{{url_for('Home')}}" class="navbar-brand">PragmaBuild</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a href="{{url_for('Home')}}" class="nav-link">Ana Səhifə</a>
                    </li>
                    <li class="nav-item active">
                        <a href="{{url_for('About')}}" class="nav-link ">Haqqımızda</a>
                    </li>
                    <li class="nav-item ">
                        <a href="{{url_for('Contact')}}" class="nav-link ">Əlaqə</a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="{{url_for('Contact')}}" class="nav-link">
                            <i class="fas fa-shopping-cart fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--End of Navbar-->
    <!--Slider-->
    <section id="main">
        <div id="Carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
    <li data-target="#Carousel" data-slide-to="1"></li>
    <li data-target="#Carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item carousel-image-1 active">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block text-right mb-5">
                            <h1 class="display-3 title-color">Ən Keyfiyyətli Məhsullar Yalnız Bizdə</h1>
                            <p class="lead">Üstünlüyümüz Məhsulların Keyfiyyətli Və Qiymətlərinin Münasib Olmasıdır</p>
                            <a href="{{url_for('Contact')}}" class="btn btn-color slide-btn btn-lg">
                                Sifariş Et!
                            </a>
                        </div>
                    </div>
                </div>
                <!--End-->
                <div class="carousel-item carousel-image-2">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block mb-5">
                            <h1 class="display-3 title-color">Hər növ Tikinti Materiallarının Satışı</h1>
                            <p class="lead">Çatdırılma Mağazamız Tərəfindən Həyata Keçirilir</p>
                            <a href="{{url_for('About')}}" class="btn btn-color slide-btn btn-lg">Ətraflı</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-image-3">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block mb-5">
                            <h1 class="display-3 title-color">Müştəri Məmmunluğu Əsas Üstünlüyümüzdür</h1>
                            <p class="lead">Mağazamız Tərəfindən Hər Hansı Bir Problem Yaranarsa Mallar Razılaşma Yolu İlə Geri Qaytarıla Bilər </p>
                            <a href="{{url_for('About')}}" class="btn btn-color slide-btn btn-lg">Ətraflı</a>
                        </div>
                    </div>
                </div>
                <a href="#Carousel" data-slide="prev" class="carousel-control-prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#Carousel" data-slide="next" class="carousel-control-next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </section>
    <!--End of Slider-->
    <!--About US-->
  <!-- <section id="about-section">
       <div class="inner-container">
           <h1>Haqqimizda</h1>
           <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptas eligendi eos inventore. Cumque rerum eius accusamus exercitationem vel, obcaecati, autem in odio quod aliquid temporibus ea hic libero soluta ipsam minima. Voluptatem consequuntur quo quas consectetur ipsam quod vitae quia repellendus culpa minima maiores, distinctio aperiam corrupti ea quisquam tempora temporibus suscipit odio voluptate eum omnis iste est enim nemo? Maiores voluptates ratione ducimus cupiditate ad explicabo debitis, dolores eveniet distinctio vel quasi earum odit non ullam dolor consequuntur impedit quaerat minima at deleniti et saepe illo aliquam ea. Facilis itaque, dignissimos alias aliquid dicta expedita rem. Numquam, deserunt.</p>
           
       </div>
   </section>-->
   <section id="main">
       <div class="container">
           <article id="main-col">
               <h1 class="page-title">Haqqimizda</h1>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis mollitia doloremque totam accusantium excepturi iste, voluptatibus enim molestiae neque possimus exercitationem amet temporibus iure assumenda dolores. Possimus earum facere natus labore tempora! Maiores dignissimos quidem ipsum molestias labore corrupti, natus quae! Alias repudiandae blanditiis veniam doloremque maxime, deserunt reprehenderit ipsum provident quisquam repellat cupiditate aut harum pariatur inventore rem. Iusto dignissimos consequatur quas doloribus, ut impedit fugiat, esse, deserunt itaque quam quis molestiae nisi quaerat nesciunt blanditiis culpa! Suscipit delectus sapiente iure vitae nobis, illo laboriosam exercitationem illum laborum accusamus, aperiam, ipsa hic tempore. Ea impedit inventore illum sint ratione?</p>
               <p class="dark">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo porro numquam dolore non inventore quod et voluptate dolorum perferendis illum, quasi tempora excepturi ex debitis doloremque distinctio sed. Assumenda sint aspernatur exercitationem sed maiores tempora pariatur nemo fugit et quis recusandae id, aliquid magni sapiente excepturi velit harum fugiat ex. Minima voluptates obcaecati architecto expedita nostrum unde error fuga distinctio atque tenetur ipsum eum incidunt quia recusandae, beatae, a rem possimus consectetur delectus iure laudantium consequuntur omnis dignissimos est? Maxime ducimus vitae voluptates. Voluptas omnis modi repellat rerum minima non sapiente nihil, doloribus fugiat tempora dicta, nemo consequatur, impedit illum!</p>
           </article>
           <aside id="sidebar">
               <div class="dark">
               <h3>Biz neler edirik</h3>
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid non quaerat, nobis nihil labore, vitae ad omnis tempora autem ipsa rerum reiciendis corporis, magnam eum sequi! Id hic delectus mollitia qui quo a eligendi, iusto reprehenderit numquam assumenda provident architecto excepturi deleniti blanditiis sunt veritatis officia! Ducimus animi veritatis, nemo nam repellat eaque porro hic reiciendis, error doloribus enim ex praesentium mollitia qui obcaecati. Asperiores quae molestiae, doloribus harum impedit voluptatibus maiores qui reprehenderit perspiciatis veritatis quisquam ipsum saepe repudiandae earum aliquid facilis nemo distinctio sapiente? Debitis cumque, corrupti facere, iste sunt quibusdam, maxime ipsam quod animi velit facilis reprehenderit?</p>
               </div>
           </aside>
       </div>
   </section>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>


    <!--End of About US-->
    
    <!--Footer-->
     <footer class="footer mt-5">
        <div class="text-center py-5">
            <h2 class="py-3" >PragmaBuild Mağazalar Şəbəkəsi</h2>
            <div class="mx-auto heading-line"></div>
        </div>
        <div class="container">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <p>Hər Hansı Bir Sual yaranarsa qeyd olunan nömrələrə zəng və ya mesaj  saat:08:00-21:00-də yaza bilərsiniz.</p>
                            <p>Bizi Seçdiyiniz Üçün Təşəkkür edirik!!!
                        <div class="justify-content-center">
                            <i class="fab fa-facebook fa-2x"></i>
                            <i class="fab fa-twitter fa-2x"></i>
                            <i class="fab fa-instagram fa-2x"></i>
                        </div>
                    </div>
                </div>
                <div class="copyright text-center py-3 border-top text-light">
                    <p>&copy; Copy Right By PragmaBuild</p>
                </div>
            </div>
        </div>
    </footer>
    <!--End of Footer-->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>